# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/target
/pkg
/lib
/types
/*.js
/*.mjs
/*.ts
/*.d.ts
/*.d.ts.map

# dependencies
node_modules
/.pnp
.pnp.js

# misc
.DS_Store
# .env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
